/* ==================== RESPONSIVE ==================== */
@media (min-width: 768px) {
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-list:first-child {
    grid-column: 1 / -1;
  }
  .card-special {
    grid-column: 1 / -1;
  }
}
